<footer>

  <hr/>

  <div class="container">
    <footer class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          {% if site.email %}
            <li>
              <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss" aria-hidden="true"></i> RSS feed</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p>{{ site.description | escape }}</p>
      </div>
    </footer>
  </div>

</footer>
