---
layout: default
---
<div class="home">
{{ content }}
{% for post in site.posts %}
  {% assign loopindex = forloop.index0 | modulo: 2 %}
  {% if loopindex == 0 %}
    <div class="row">
  {% endif %}
      <div class="col-sm-6">
        <h2>
          {% if post.episode %}<small>Episode {{ post.episode }}<br></small>{% endif %}
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% img src {{ "/_assets/episode_1.jpg" }} | img : "magick:resize:100x100" }}
      </div>
  {% if loopindex == 1 %}
    </div>
  {% endif %}
{% endfor %}
</div>
