---
layout: default
---
<div class="home">
{{ content }}
{% for post in site.posts %}
  {% assign loopindex = forloop.index0 | modulo: 2 %}
  {% if loopindex == 0 %}
    <div class="row">
  {% endif %}
      <div class="col-sm-6">
        <div class="thumbnail">
          {% if post.episode %}
            <a href="{{ post.url | relative_url }}">
              {{ "episode_" | append: post.episode | append: '.jpg' | img: "magick:resize:500x500" }}
            </a>
          {% endif %}
          <div class="caption">
            <h2>
              {% if post.episode %}<small>Episode {{ post.episode }}<br></small>{% endif %}
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </div>
        </div>
      </div>
  {% if loopindex == 1 %}
    </div>
  {% endif %}
{% endfor %}
</div>
